.editIcon {
  color: #10ac84;
  cursor: pointer;
  margin-right: 15px;
}
.deleteIcon {
  color: #ee5253;
  cursor: pointer;
}
.lightBlue {
  background-color: #b2e6ec;
}
.lightRed {
  background-color: #f1cac9;
}
.lightGreen {
  background-color: #b6f5ca;
}
.radusInput{
  border-radius: 50px;
}